<!DOCTYPE HTML>
<HTML lang="">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="baidu-site-verification" content="RBzbiIZZPU"/>
  <link rel="icon" href="/favicon.ico">
  <title>云小讴</title>
  <link href="/front/skin/style/originality.css" rel="stylesheet">
  <script type="text/javascript" src="/front/skin/js/jquery1.7.js"></script>
  <script type="text/javascript" src="/front/skin/js/para.js"></script>
  <script type="text/javascript" src="/front/skin/js/main.js"></script>
  <!--[if IE 8]>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="http://cdn.bootcss.com/selectivizr/1.0.2/selectivizr-min.js"></script>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="nav_client">
<div class="float_qq"><a class="qq"
                         href="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=12345678&amp;site=qq&amp;menu=yes&amp;q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"></a>
</div>
<!-- QQ模块end -->
<header>
  <div class="logo"><a href="index.html"><img src="skin/imgs/logo.png" alt=""></a></div>
  <nav>
    <ul>
      <li><a href="/front/index.html">首页</a></li>
      <li><a href="/front/moban.html">品牌介绍</a></li>
      <li><a href="/front/join.html">云巅之上</a></li>
      <li><a href="/front/case.html">走进云小讴</a></li>
      <li><a class='on' href="/front/news.html">新闻动态</a></li>
      <li><a href='/front/about.html'><span>联系我们</span></a></li>
    </ul>
  </nav>
  <div class="cloud"> &nbsp;</div>
</header>
<div id="app">
  <article class="news_detail">
    <div class="text">
      <p style="text-align: center;"><span style="font-size:22px;">{{brand.title}}</span></p>
      <p>{{brand.content}}</p>
    </div>
  </article>
  <footer>
    <div class="links">
      <a href='./index.html'>首页</a>
      <a href='./moban.html'>品牌介绍</a>
    </div>
    <div class="links">
      <a href="./join.html">云巅之上</a><a href="./case.html">走进云小讴</a>
    </div>
    <div class="links news">
      <a href="./news.html">新闻动态</a><a href="./about.html">联系我们</a>
    </div>
    <div class="qr" :style="`background-image:url(${homeInfo.introduce.qR_code})`"></div>
    <div class="contactc">
      <ul>
        <li><a
          :href=`http://wpa.qq.com/msgrd?v=3&amp;uin=${homeInfo.introduce.qQ}&amp;site=qq&amp;menu=yes&amp;q=7`
          target="_blank" t>在线QQ服务/咨询</a>
        </li>
        <li><a href="#">{{homeInfo.introduce.e_mail}}</a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="copy" v-for="item of homeInfo.systemSetting" v-if="item.keyk==='company_bah'">{{item.valuek}}</div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: '#app',
        data: {brand: {},homeInfo: {introduce: {}, newsTrends: {}, merchant: {}, brands: {}}},
        methods: {
            getBrand() {
                $.ajax({
                    url: '/news/showNewsTrendById',
                    type: 'post',
                    data: {id: this.getQueryString('id')},
                    dataType: 'json',
                    success: res => {
                        if (res.code === 0) {
                            this.brand = res.data
                        }
                    }
                })
            },
            getQueryString(name) {
                const reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                const r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            getHomeInfo() {
                $.ajax({
                    url: '/main/homePage',
                    type: 'post',
                    dataType: 'json',
                    success: res => {
                        if (res.code === 0) {
                            this.homeInfo = res.data
                        }
                    }
                })
            },
        },
        mounted() {
            this.getBrand();
            this.getHomeInfo()
        }
    })
</script>
</body>
</HTML>
